.container {
  padding: 16px 0;
  margin-bottom: 32px;
}

.title {
  font-weight: bold;
  padding: 8px;
  margin-bottom: 16px;
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}

.child {
  padding: 16px 16px 0;
}